Include /Users/ava.silver/.config/datadog/git/ssh_config

Include /Users/ava.silver/.colima/ssh_config

Host localhost
  HostName localhost
  Port 2222
  User ava

Host pebble
  User ava
  HostName 192.168.0.16
  IdentityFile ~/.ssh/id_rock

Host neu
  User avasilver
  HostName login.ccs.neu.edu
  IdentityFile ~/.ssh/id_neu

Host netsec
  User pi
  HostName 10.10.79.10
  IdentityFile ~/.ssh/id_netsecpi


Host mcserver
  User ubuntu
  HostName 141.148.94.64
  IdentityFile ~/.ssh/id_mcserver
Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
