Host localhost
  HostName localhost
  Port 2222
  User ava

Host pebble
  User ava
  HostName 192.168.0.16
  IdentityFile ~/.ssh/id_rock

Host neu
  User avasilver
  HostName login.ccs.neu.edu
  IdentityFile ~/.ssh/id_neu

Host ava-hermes
  User root
  HostName 10.0.0.117
  IdentityFile ~/.ssh/id_ed25519
  StrictHostKeyChecking accept-new
